{%- assign id = section.id -%}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Advanced {% endcomment %}
{%- assign css_class = section.settings.css_class -%}
{%- assign custom_css = section.settings.custom_css -%} 

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  {%
    render 'css-loop',
    css: custom_css,
    id: id
  %}
{% endstyle %}

{% if blocks.size > 0 %}
  <section class="section {{ css_class }} {% if section.settings.wide_display == true %}is-width-wide has-no-side-gutter{% endif %} {% if section.settings.layout == 'panel' %}panel{% endif %}">
    {% for block in blocks %}
      {% comment %} Content settings {% endcomment %}
      {%- assign product = all_products[block.settings.featured_product] -%}
      {% comment %} End content settings {% endcomment %}

      {% if product != blank %}
        {%
          render 'product__structured-data',
          product: product
        %}
      {% endif %}

      {%- assign collection_handles = product.collections | map: 'handle' -%}

      {% if product.empty? %}
        {%- assign section_onboarding = true -%}
      {% else %}
        {%- assign section_onboarding = false -%}
      {% endif %}

      <div class="product-{{ product.id }} ep-article-product-features">
        <div
          class="
            product_section
            js-product_section
            product--description-{{ product_description_position }}
          "
          data-block-id="{{ block.id }}"
          {{ block.shopify_attributes }}
        >
        {% unless section.settings.layout == 'panel' %}<div class="container fourteen">{% endunless %} 

  {% if section.settings.layout == 'small' %} 
            <div class="one-half column medium-down--one-whole">


        {% else  %} 
             <div class="one-whole column medium-down--one-whole">
        {% endif %}
       {{ block.settings.image | image_url: width: 500 | image_tag: loading: 'lazy' }}
           
            </div>

         {% if section.settings.layout == 'small' %} 
           <div class="one-half column medium-down--one-whole product__details product__details">

      
        {% else %} 
            <div class="one-whole column medium-down--one-whole product__details product__details">
        {% endif %}
                {% if block.settings.heading != blank %}<h3 class="product_name">{{ block.settings.heading }}</h3>{% endif %}   
              
                <div class="feature_divider"></div>

                    <div class="feature-details {% if block.settings.review == true and section.settings.layout == 'large'%}feature-details-w-review{% endif %}">
                      {% if block.settings.text != blank %}
                        <div class="description">
                          {{ block.settings.text }}

                           
                          

                          {% if block.settings.fun-fact-heading != blank %}
      
<b>{{ block.settings.fun-fact-heading }}</b>
  {{ block.settings.fun-fact }}
   {% if block.settings.url != blank %}<b class="product_name"><a href="{{ block.settings.url }}">Website</a></b>{% endif %}  
    {% if block.settings.insta != blank %} | <b class="product_name"><a href="https://www.instagram.com/{{ block.settings.insta }}/">Instagram</a></b>{% endif %}

   {% endif %}

                        
                      
                        </div>
                      {% endif %}


     {% if section.settings.layout == 'small' %} 
           


        {% elsif section.settings.layout == 'large' %} 
             
            <!-- Yopto top Start -->
    {% if block.settings.review == true %}
       {% if request.locale.iso_code == 'en' %}
        <div class="yotpo yotpo-shoppers-say" data-product-id="{{ product.id }}">&nbsp;</div>
      {% endif %}
   {% endif %}
      <!-- Yopto top end -->
       
 {% endif %}
                         

                 
                    </div>

              
                          <div class="feature_divider"></div>

             

              


            </div>
           {% unless section.settings.layout == 'panel' %}</div>{% endunless %} 
        </div>
      </div>
    {% endfor %}
  </section>
{% endif %}

{% schema %}
  {
    "name": "Blog Feature Content",
    "settings": [
       {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "default": "large",
        "options": [
        {
            "value": "panel",
            "label": "3 Panel"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      }
    ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
       {
          "type": "text",
          "id": "heading",
          "label": "Heading"

        },

        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description details.</p>"
        },
        
 {
          "type": "text",
          "id": "fun-fact-heading",
          "label": "Fun Fact heading"

        },
        {
          "type": "richtext",
          "id": "fun-fact",
          "label": "Fun Fact"

        },
         {
          "type": "text",
          "id": "url",
          "label": "Website URL"

        },
         {
          "type": "text",
          "id": "insta",
          "label": "Instagram"

        }

      ]
    }
  ],  "presets": [
    {
      "name": "Blog Feature Content",
      "category": "Product",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}